{% extends "auctions/layout.html" %}

{% block body %}
    <center>
        <h1>Create Listing</h1>
        <br>
        <form action="{% url 'Create_Listing' %}" method="post">
            <input class="form-control" type="text" name="title" placeholder="title of the listing">
            <br><br>
            <textarea class="form-control" name="description" rows="4" cols="50">
                Description
            </textarea>
            <br><br>
            <input class="form-control" type="number" name="bid" placeholder="Starting bid($) ">
            <br><br>
            <input class="btn btn-primary" type="submit" value="create">
        </form>
    </center>
{% endblock %}